@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
    url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
    url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Black.eot');
    src: local('Gilroy Black'), local('Gilroy-Black'),
    url('../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Black.woff') format('woff'),
    url('../fonts/Gilroy-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: normal;
}
h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
a:hover {
	color: #00A0E3;
}
ul {
    list-style: disc;
	padding-left: 40px;
}
ul li {
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.sidebar-widget-list ul {
	padding: 0px;
	list-style: none;
}
.breadcrumb-area {
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}.pricing-meta.pricing-meta_new ul {
	padding-left: 0px;
}

.header_account_area, .main-navigation,
.contact-link {
	margin: 0px;
}
.cart-info {
	margin-top: 0px;
}
.header_account_area {
	align-items: center;
}

.mini-cart-warp {
	min-width: 110px;
}
.mini-cart-warp-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #808080;
}
.mini-cart-warp .count-cart:before,
.mini-cart-warp .count-cart:after {
	display: none;
}
.mini-cart-warp-count,
.heart-count {
	display: block;

	position: absolute;
	top: -2px;
	right: 6px;
	width: 18px;
	height: 18px;
	background: #00A0E3;
	color: #fff;
	line-height: 18px;
	text-align: center;
	border-radius: 50%;
}
.mini-cart-warp-price {
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}




.heart {
	display: block;
	height: 100%;

	font-size: 32px;
	color: #000000;

	position: relative;
}
.heart-count {
	line-height: 18px;
	font-size: 14px;

	right: -6px;
}

.phone:before {
	display: none;
}

.contact-link .phone__callback {
	font-size: 12px;
	line-height: 14px;
	text-decoration-line: underline;
	color: #8C8C8C;
}

.dropdown_search {
	max-width: 288px;
}


.main-navigation-category {
	background: #00A0E3;
	border-radius: 10px;



	padding: 11px 11px 11px 50px;

	position: relative;

	width: 170px;
}
.main-navigation-category-burger {
	display: block;
	position: absolute;
	left: 11px;
	top: 50%;
	transform: translateY(-50%);

	height: 20px;
	width: 28px;

	display: flex;
	align-items: center;
	justify-content: center;
}
.main-navigation-category-burger span{
	display: block;
	height: 2px;
	width: 100%;
	background-color: #fff;
}
.main-navigation-category-burger span:before {
	content: "";
	display: block;
	height: 2px;
	width: 80%;
	background-color: #fff;

	position: absolute;
	top: 0px;
	left: 0px;
	transition: 0.3s;
}
.main-navigation-category-burger span:after {
	content: "";
	display: block;
	height: 2px;
	width: 60%;
	background-color: #fff;

	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: 0.3s;
}
.main-navigation-category:hover span:before,
.main-navigation-category:hover span:after {
	width: 100%;
	transition: 0.3s;
}
.main-navigation ul li .main-navigation-category-link {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;

	color: #FFFFFF;
}

@media (min-width: 1600px) {
	.dropdown_search {
		display: block;
		position: unset;

	}
	.dropdown_search {
	}
}
@media (max-width: 1680px) and (min-width: 1366px) {
	.header_account_list>a {
		display: none;
	}
}
@media (max-width: 1600px) and (min-width: 1366px) {
	.header_account_list>a {
		display: block;
		position: unset;
		right: 0;
		top: 11px;
	}
	.header_account_list.search_list {
		margin-right: 30px;
	}
}
@media (max-width: 1366px) and (min-width: 1170px) {
	.header_account_list>a {
		display: block;
		position: unset;
	}
	.header_account_list.search_list {
		margin-right: 10px;
	}
}
@media (max-width: 1300px) {
	.main-navigation ul li a {
		padding-right: 5px;
		padding-left: 5px;
	}
	.main-navigation-category {
		width: 100px;
		padding-left: 30px;
	}
	.main-navigation-category span {
		width: 16px;

	}
}
@media only screen and (max-width: 1169px) and (min-width: 992px) {
	.header_account_list {
		margin-right: 10px;
	}
	.header_account_list>a {
		display: block;
		position: unset;
	}
}
.logo a img {
	width: 100%;
	max-width: 100px;
}

@media (max-width: 991px) {
	.mini-cart-warp {
		min-width: unset;
	}
	.header_account_area {
		margin-top: 0;
		margin-right: 0;
		position: absolute;
		top: -15px!important;
		width: 100%;
		right: 18%;
	}
	.logo {
		width: 100%!important;
	}
	.header_account_list>a {
		top: 0px;
		right: 20px;

		font-size: 32px;
	}
	.header_account_list {
		width: 20px;
		height: 30px;
	}
	.dropdown_search {
		left: -140px;
	}
}

.main-navigation ul li ul.mega-menu-wrap {
	width: 680px;
}
@media only screen and (max-width: 1169px) and (min-width: 992px) {
	.main-navigation ul li ul.mega-menu-wrap {
	    width: 680px;
	    left: -80px;
	}
}
.main-navigation ul li ul.mega-menu-wrap>li ul li.mega-menu-title a {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	text-decoration-line: underline;
	color: #000000;
}
.main-navigation ul li ul.mega-menu-wrap>li ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #000000;
	margin-bottom: 15px;
}

.shopping-cart-img a img {
	border: 0px;
}
.shopping-cart-total h4.shop-total,
.shopping-cart-total h4.shop-total span {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.default-btn {
	background: #00A0E3;
	border-radius: 30px;
	text-transform: none;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
}
.default-btn:hover {
	background: rgba(0, 160, 227, 0.8);
	color: #000;
	transition: 0.3s;
}
@media only screen and (max-width: 991px) {
	.cart-info {
		margin: 0 0 0 20px;
	}
	.mean-container a.meanmenu-reveal {
		padding: 0px;
		width: 34px;
		height: 24px;
	}
	.mean-container a.meanmenu-reveal span {
		background-color: #00A0E3;
		border-radius: 10px;
		height: 4px;
		position: absolute;
	}
	.count-cart  .mini-cart-warp-count {
		display: block;
		right: 16px;
	}
	.mean-container a.meanmenu-reveal {
		border: 0px;
		position: relative;
		color: #00A0E3;
	}
	.mean-container a.meanmenu-reveal > span {
		width: 90%;
		margin-top: 0px;
		left: unset;
		right: 0px;
	}
	.mean-container a.meanmenu-reveal > span > span {
		left: -5px;
		right: 0px;
		width: 35px;
		margin-top: 10px;
	}
	.mean-container a.meanmenu-reveal > span > span > span {
		margin-top: 10px;
		width: 25px;
		left: unset;
		right: 0px;
	}
	.mean-container .mean-nav {
		margin-top: -10px;
	}
}















.footer-area {
	background-color: #F9F9F9;

	padding: 40px 0 14px 0px;
}
@media (max-width: 991px) {
	.footer-area {
		position: unset
	}
}
.footer-top {
	padding: 0px;
}
.need-help {
	background: none;
}
.phone-info {
	padding-left: 6px;
	margin: 0px;
}
.phone-info span {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 21px;
	color: #808080;
}
.phone-info a {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.copy-text p {
	font-size: 12px;
	line-height: 14px;
	color: #8C8C8C;
}
.copy-text a {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.footer-herading {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.footer-links>ul>li {
	padding-bottom: 15px;
	margin: 0px;
}
.footer-links>ul>li a {
	font-size: 14px;
	line-height: 16px;
	color: #808080;
}
.footer-links>ul>li a:hover {
	color: #00A0E3;
}
.copy-text a:hover {
	color: #00A0E3;
}
.footer-herading:after {
	height: 3px;
	background: #00A0E3;
}
.text-info {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #808080!important;
}
.subscrib-text {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #808080;
}
.subscribe-form form input {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	max-width: 357px;
	border-radius: 30px 0px 0px 30px;
	padding: 10px 20px;
}
.subscribe-form form input::-webkit-input-placeholder { color: #000000; }
.subscribe-form form input:-ms-input-placeholder { color: #000000; }
.subscribe-form form input::-ms-input-placeholder { color: #000000; }
.subscribe-form form input::placeholder { color: #000000; }
.clear input.button {
	background: #00A0E3;
}

.btn.btn_cirlce {
	width: 100px;
	background: #00A0E3;
	border-radius: 0px 30px 30px 0px;
	height: 48px;

	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.social-info a svg path{
	transition: 0.3s;
}
.social-info a:hover  svg path{
	fill: #00A0E3;
	 transition: 0.3s;
}
.social-info li:last-child a {
	margin: 0px;
}

@media (max-width: 991px) {
	.about-footer {
		max-width: unset;
	}
	.about-footer .text-info {
		padding: 0 10%;
		text-align: center;
	}
}












.slider-area h1,
.slider-area span {
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	line-height: 77px;
	color: #FFFFFF;

	padding-bottom: 44px;
	margin: 0px;
}

@media (max-width: 991px) {
	.slider-area h1,
	.slider-area span {
		font-size: 36px;
		line-height: 44px;
		padding-bottom: 20px;
	}
	.slider-height-6 {
		height: 660px;
		background-position: 60% 50%;
	}
}
.slider-area p {
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;

	padding-bottom: 33px;
	margin: 0px;
}
.shop-btn {
	background: #FFFFFF;
	border-radius: 15px;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;

	height: unset;
	width: unset;

	padding: 20px 90px;
}












.single-static {
	padding: 20px 0px;
}
.single-static-meta span {
	color: #253237;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
	line-height: 22px;
	margin-bottom: 0;
}
.single-static-meta p {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}




.section-title h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
	text-transform: unset;
}
.section-title p {
	font-size: 16px;
	line-height: 19px;
	color: #808080;
}
.owl-nav-style .owl-nav>div:hover {
	color: #fff;
	border-color: #00A0E3;
	background-color: #00A0E3;
}
.new {
	background: #0EAD15;
	border-radius: 5px;

	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #FFFFFF;

	padding: 6px 10px;

	height: unset;
}
.product-link {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}


.current-price {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #8C8C8C;
}

.pricing-meta_new .current-price {
	color: #E32026;
}
.product-decs .product-link {
	height: 38px;
	overflow: hidden;
}
.product-link:hover,
.cart-btn:hover,
.add-to-link ul li a:hover,

.blog-post .blog-post-heading a:hover {
	color: #00A0E3;
}



.blog-post-content-cell__date {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #808080;
}
.blog-post:hover .blog-post-content-cell__date {
	color: #fff;
}

.blog-text {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.read-more-btn {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;

	display: flex;
	align-items: center;
}
a.read-more-btn i {
	font-size: 18px;
	transform: unset;
	margin-left: 10px;
}
.blog-post a.read-more-btn:hover i {
	color: #00A0E3;
}


@media (max-width: 991px) {
	.single-static {
		padding: 20px;
	}
	.best-sells-area .owl-item {
	}
}











.breadcrumb-area {
	background-image: url("../images/preview.png");
	height: 300px;
}
@media (max-width: 1400px) {
	.breadcrumb-area {
		height: 160px;
	}
}
.breadcrumb-links {
	padding-left: 0px;
}
.breadcrumb-links li {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.breadcrumb-links li a {
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}
.breadcrumb-links li a:hover {
	color: #00A0E3;
}
.breadcrumb-links li a:after {
	content: "/";
	line-height: 130%;
}



.sidebar-widget .sidebar-widget-list ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
}
.sidebar-widget .sidebar-widget-list ul li:hover a {
	color: #00A0E3;

}
.main-heading h2:before {
	background: #00A0E3;
	height: 3px;
}
.pro-sidebar-title {
	font-family: Gilroy;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #333333;
	margin: 0px;
	padding-bottom: 17px;
}
#amount-price {
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #808080;
	border: 0px;
	margin-bottom: 10px;
}
#amount-price:focus {
	outline: 0px;
}
.ui-widget-content .ui-state-default {
	width: 15px;
	height: 15px;
	background-color: #fff;
	border: 1px solid #00A0E3;
	border-radius: 100%;
	cursor: pointer;
}
.ui-widget-content .ui-state-default:focus {
	outline: none;
}
.ui-widget-header {
	background: #00A0E3;
}
#slider-range-price {
	background: #c5c5c5;
	height: 5px;
	border: 0px;
	margin-left: 8px;
	margin-right: 8px;
}
.sidebar-widget .sidebar-widget-list ul li .sidebar-widget-list-left .checkmark {
	top: calc(50% - 7px);
}
.sidebar-widget .sidebar-widget-list ul li:hover .checkmark {
	border: 1px solid #00A0E3;
}
.sidebar-widget-list-left__text {
	font-size: 14px;
	line-height: 16px;
	display: block;
	color: #000000;
	margin-left: 22px;
}
.sidebar-widget .sidebar-widget-list ul li .sidebar-widget-list-left {
	cursor: pointer;
}
.shot-product {
	max-width: unset;
}
.shot-product p {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}
.shop-top-bar .nice-select {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #8C8C8C;

	display: flex;
	align-items: center;
}
.nice-select:after {
	background: url("../images/dropwtriangle.svg") no-repeat center center;
	background-size: 7px;
	width: 7px;
	height: 7px;
	border: 0px;
	transform: rotate(0deg);
}
.nice-select.open:after {
	transform: rotate(180deg);
}
.nice-select .option.selected {
	color: #00A0E3;
}
.main-navigation ul li:hover>a {
	color: #00A0E3;
}
.main-navigation ul li:hover .main-navigation-category-link {
	color: #000;
}
.list-product:hover {
	    border-color: #00A0E3;
}
.img-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.pro-pagination-style a {
	width: 25px;
	height: 25px;

	display: flex;
	justify-content: center;
	align-items: center;

	background: #E5E5E5;

	border-radius: 3px;

	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
}
.pro-pagination-style .active {
	color: #fff;
	background: #00A0E3;
}
.pro-pagination-style a:hover {
	background: #00A0E3;
	color: #fff;
}

.product-dec-slider-2 .slick-slide {
	display: flex;
	align-items: center;

	width: 120px;
	height: 120px;
	padding: 20px;
	border: 0px;
}
.product-dec-slider-2 .slick-slide:hover {
	cursor: pointer;
	border: 1px solid #00A0E3;
}
.product-dec-slider-2 .slick-slide:hover img {
	border: 0px;
}
.product-dec-slider-2 .slick-slide img {
	width: 100%;
	height: unset;
	margin: 0px;
	border: 0px;
}
.product-dec-slider-2 .slick-slide.slick-active.active {
	border: 1px solid #00A0E3;
}
.product-dec-slider-2 .slick-slide.slick-active.active img {
	border: 0px;
}
.zoompro-wrap.zoompro-2 {
	min-height: 400px;
}
.zoompro__wrapper {
	max-width: 400px;
	max-height: 400px;
	margin: 0 auto;
}
.product-details-content h2 {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #000000;
}
.read-review a.reviews {
	font-size: 14px;
	line-height: 16px;
	color: #808080;
	margin: 0px;
}
.pro-details-rating-wrap {
	align-items: center;
}
.read-review a.reviews:before { display: none; }
.pro-details-rating-wrap .rating-product { margin: 0px; }
.product-details-content .old-price {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	color: #808080;
	margin-right: 16px;
}
.product-details-content .current-price {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #E32026;
}
.item__kg input { display: none;}
.item__kg input + span {
	border: 1px solid #C4C4C4;
	border-radius: 5px;

	padding: 10px 30px;

	display: block;
	margin-right: 20px;

	cursor: pointer;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.item__kg input:checked + span {
	background: #00A0E3;
	color: #fff;
}
.cart-plus-minus {
	border: 0px!important;
	display: flex!important;
	align-items: center!important;
	justify-content: space-between!important;

	width: 100px!important;
}
.product-details-content__description {
	border-bottom: 1px solid #C4C4C4;
}
.cart-plus-minus .dec.qtybutton,
.cart-plus-minus .inc.qtybutton {
	width: 30px!important;
	height: 30px!important;
	border-radius: 100%!important;
	background: #00A0E3!important;

	display: flex!important;
	align-items: center!important;
	justify-content: center!important;

	font-weight: bold!important;
	font-size: 18px!important;
	line-height: 22px!important;
	color: #FFFFFF!important;

	padding: 0px!important;

	position: unset!important;
}
.cart-plus-minus input.cart-plus-minus-box {
	height: unset!important;
	width: 40px!important;
	float: unset!important;

	font-weight: bold!important;
	font-size: 18px!important;
	line-height: 22px!important;
	color: #000000!important;
}
.pro-details-cart a {
	padding: 7px 23px;
	height: unset;
	display: flex;
	align-items: center;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	border: 2px solid rgba(0, 160, 227, 1);
}
a.default-btn:hover {
	background: rgba(0, 160, 227, 0.8);
	color: #fff;
}
.btn.btn_one-click {
	padding: 7px 50px;
	height: unset;
	display: flex;
	align-items: center;

	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000;

	background: none;
	border: 2px solid #00A0E3;
	border-radius: 30px;
}
.btn.btn_one-click:hover {
	background: #00A0E3;
	border: 2px solid transparent;
	color: #fff;
}

.pro-details-wish-com a {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}
.pro-details-wish-com a:hover {
	color: #00A0E3;
}
.pro-details-wish-com {
	border-bottom: 1px solid #C4C4C4;
}
.description-review-topbar.nav a.active:after {
	height: 4px;
}
.description-review-bottom .product-description-wrapper p,
.description-review-bottom .product-description-wrapper h2 {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	margin-bottom: 16px;
}

.description-review-bottom .product-anotherinfo-wrapper ul li {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.review-name h2 {
	color: #000;
}
.single-review .review-bottom p {
	color: #000;
	font-size: 14px;
	line-height: 16px;
}
.review-left a {
	color: #000;
	font-size: 14px;
	line-height: 16px;
}
.review-left a:hover {
	color: #00A0E3;
}
.ratting-form-wrapper .ratting-form form .rating-form-style input[type=submit] {
	padding: 7px 20px!important;
	height: unset;
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;

	background-color: #00A0E3!important;
	border: 2px solid #00A0E3;

	display: flex;
	justify-content: center;
	align-items: center
}
.ratting-form-wrapper .ratting-form form .rating-form-style input[type=submit]:hover {
	background:  rgba(0, 160, 227, 0.8)!important;
}
.ratting-form-wrapper h2 {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;

	color: #000000;
}
.ratting-form-wrapper .ratting-form form .star-box span {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #000000;
}
.product-quantity .cart-plus-minus-box {
	border: 0px!important;
}
.product-quantity .cart-plus-minus-box:focus {
	outline: none;
}
.cart-table-content table tbody>tr td.product-name  {
	text-align: left;
}
.cart-table-content table tbody>tr td.product-name p {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #000000;
	text-align: left;
	padding-right: 20px;
}
.cart-table-content table tbody tr td,
.cart-table-content table {
	border: 0px;
}
.cart-table-content table tbody tr {

	border-bottom: 1px solid #C4C4C4;;
}
.product-thumbnail a {
	display: block;
}
.product-thumbnail img {
	max-width: 120px;
}
.cart-table-content table tbody>tr td.product-subtotal {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}
.cart-table-content table tbody>tr td.product-thumbnail { 		width: 20%; }
.cart-table-content table tbody>tr td.product-name 		{ 		width: 40%; }
.cart-table-content table tbody>tr td.product-quantity	{		width: 20%; }
.cart-table-content table tbody>tr td.product-subtotal 	{		width: 20%; }
.cart-table-content table tbody>tr td.product-remove 	{		width: 20%; }

@media (max-width: 991px) {
	.cart-table-content table tbody>tr {
		display: flex;
		flex-direction: column;
	}
	.cart-plus-minus {
		margin: 0 auto;
	}
	.cart-table-content table tbody>tr td.product-thumbnail,
	.cart-table-content table tbody>tr td.product-name ,
	.cart-table-content table tbody>tr td.product-quantity,
	.cart-table-content table tbody>tr td.product-subtotal,
	.cart-table-content table tbody>tr td.product-remove {
		width: 100%;
	}
}
.product-remove a svg path{
	transition: 0.3s;
}
.product-remove a:hover svg path{
	fill: rgba(0, 160, 227, 1);
	transition: 0.3s;
}

.input-default, textarea {
	background: #E5E5E5;
	border-radius: 20px;
	border: 0px;
	padding: 15px 18px;

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #333333;
}
.input-default:focus, textarea {
	outline: none;
}
@media (max-width: 991px) {
	textarea {
		width: 100%;
	}
}
.input_radio {
	display: flex;
	align-items: center;
}
.input_radio input { display: none; }
.input_radio input + span {
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid #808080;
	border-radius: 100%;
	margin-right: 10px;
}
.input_radio input + span:before {
	content: "";
	display: block;
	width: 10px;
	height: 10px;

	background: #00A0E3;

	position: absolute;
	top: calc(50% - 5px);
	left: calc(50% - 5px);
	border-radius: 100%;

	opacity: 0;

	transition: 0.3s;
}
.input_radio input:checked + span:before {
	opacity: 1;
	transition: 0.3s;
}
.input_radio__text {
	display: block;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	cursor: pointer;
	color: #000000;
}

.cart-sidebar {
	padding: 11px 18px;
	background: #EFEFEF;
}
.cart-sidebar ul li {
	margin-bottom: 27px;

	display: flex;
	justify-content: space-between;

	font-size: 14px;
	line-height: 16px;

	color: #000000;
}
.cart-sidebar ul li span:first-child {
	width: 40%;
}
.cart-sidebar ul li span:last-child {
	width: 60%;
	text-align: right;
}

@media (max-width: 991px) {
	.pro-details-quality {
		display: flex;
		flex-direction: column;

	}
}

.rating-area {
	overflow: hidden;
	width: 80px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 16px;
	padding: 0;
	cursor: pointer;
	font-size: 18px;
	line-height: 18px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}
.contact-link a:hover {
	color: #00A0E3;
}
.owl-dot-style .owl-dots .owl-dot.active {
	background: #00A0E3;
}
.best-sell-slider .owl-item .list-product{
	/* margin: 0 50px!important; */
	/* width: 200px; */
}
